@{
    Layout = "_Layout";
    var title = "Sucessfully Registered";
    ViewData["Title"] = title;
}

<style>
    .p {
        color: red;
    }
</style>


<p>Welcome! You have sucessfully registered and you can know login. </p>
<div>
    <a asp-action="Login">Login here!</a>
</div>
