@{
    Layout = "_Layout";
    var title = "Logged out";
    ViewData["Title"] = title;
}

<style>
    .p {
        color: red;
    }
</style>


<p>You have sucessfully logged out. </p>
<div>
    <a asp-action="Login">Login back in here!</a>
</div>